.save {
  background-color: #15b800;
  color: #FFFFFF
}

.view {
  background-color: #15b800;
  color: #FFFFFF
}

.card {
  border-style: solid;
  border-width: 1px;
  border-color: #f5bdb8;
  margin-bottom: 330rem;
}